header {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--bckColor);
  box-shadow: 0px 3px 2px 0 var(--bckColor);
}

footer {
  margin: 0;
  padding: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--bckColor);
  box-shadow: 0px -3px 2px 0 var(--bckColor);
}

.noMargin {
  margin: 0;
}

.logo {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: center;
}

.titreTaverne {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.hLeft {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: var(--bckColor);
}

.hRight {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 70px;
  background-color: var(--bckColor);
}

.hMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: var(--bckColor);
}

header h1 {
  text-align: center;
  color: var(--titleColor);
  flex-direction: column;
}

.searchBar {
  display: flex;
  align-items: center;
  max-width: 500px;
}

.hRight ul {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 70px;
  margin: 0;
  padding: 0;
}

.hRight ul li {
  position: relative;
  list-style: none;
  width: 100px;
  z-index: 1;
}

.hRight ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
}

.hRight ul li a .icon {
  position: relative;
  display: block;
  line-height: 70px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: var(--txtColor);
}

.hRight ul li.active-link a .icon {
  transform: translateY(35px);
}

.hRight ul li a .iconLabel {
  position: absolute;
  color: var(--txtColor);
  font-weight: 450;
  font-size: 0.95em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(-20px);
  text-align: center;
  overflow: visible;
}

.hRight ul li.active-link a .iconLabel {
  opacity: 1;
  transform: translateY(-12px);
}

.iconActive {
  position: absolute;
  width: 75px;
  height: 75px;
  background: var(--scdColor);
  bottom: -50%;
  border-radius: 50%;
  border: 6px solid var(--bckColor);
  transition: 0.5s;
  box-shadow: 0 3px 2px 0 var(--bckColor);
}

.iconActive::before {
  content: "";
  position: absolute;
  top: 52%;
  left: -22px;
  background: transparent;
  width: 20px;
  height: 20px;
  border-top-right-radius: 22px;
  box-shadow: 1px -10px 0 0 var(--bckColor);
}

.iconActive::after {
  content: "";
  position: absolute;
  top: 52%;
  right: -22px;
  background: transparent;
  width: 20px;
  height: 20px;
  border-top-left-radius: 22px;
  box-shadow: -1px -10px 0 0 var(--bckColor);
}

.hRight ul li:nth-child(1).active-link ~ .iconActive {
  transform: translateX(-150px);
}

.hRight ul li:nth-child(2).active-link ~ .iconActive {
  transform: translateX(-50px);
}

.hRight ul li:nth-child(3).active-link ~ .iconActive {
  transform: translateX(50px);
}

.hRight ul li:nth-child(4).active-link ~ .iconActive {
  transform: translateX(150px);
}

.rezo {
  display: flex;
  color: var(--txtColor);
  font-size: 1.5em;
  justify-content: space-around;
  align-items: center;
}

.rezoLogo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bckColor2);
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.rezoLogo::before {
  position: absolute;
  background-color: var(--scdColor);
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: scale(0.9);
  transition: 0.5s;
  z-index: -1;
}

.rezoLogo:hover::before {
  transform: scale(1.25);
}

.titleRezo {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 320px) {
  /**/
  header h1 {
    font-size: 20px;
  }
  header {
    height: 140px;
  }
}

@media screen and (min-width: 576px) {
  /*sm*/
}

@media screen and (min-width: 768px) {
  /*md*/
  header h1 {
    font-size: calc(20px + 20 * ((100vw - 768px) / (1400 - 768)));
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (min-width: 992px) {
  /*lg*/
  header {
    flex-direction: row;
    height: 70px;
  }
}

@media screen and (min-width: 1200px) {
  /*xl*/
}

@media screen and (min-width: 1400px) {
  /*xxl*/
  header h1 {
    font-size: 40px;
  }
}
